*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


header{
background:#0b1f3a;
color:white;
display:flex;
justify-content:space-between;
padding:20px 8%;
align-items:center;
}


.logo{
font-size:25px;
font-weight:bold;
}


nav a{
color:white;
text-decoration:none;
margin:15px;
}


.hero{
height:80vh;
background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),
url("images/logo.png");

background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}


.hero h1{
font-size:45px;
}


button{
padding:12px 30px;
background:#ff9800;
border:none;
margin-top:20px;
cursor:pointer;
}


section{
padding:60px 10%;
text-align:center;
}


.cards{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
}


.card{
background:#eee;
padding:30px;
border-radius:10px;
width:300px;
}


.products{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}


.products div{
background:#0b1f3a;
color:white;
padding:30px;
border-radius:10px;
}


footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}


@media(max-width:700px){

.cards{
flex-direction:column;
}

.products{
grid-template-columns:1fr;
}

header{
flex-direction:column;
}

}
